  <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/bootstrap.css">
  <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/bootstrap.progressbar.css">
  <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/bootstrap.daterangepicker.css">
  <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/font-awesome.css">
  <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/nprogress.css">
  <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/icheck.css">
  <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/jqvmap.css">
  <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/admin.css">
